{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

{{uname}}

<div><h3>Total % complete: </h3>{{percent_complete}}</div>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>



{% comment %}<form action="{% url 'example:contact_add' %}" method="post">{% endcomment %}
<form method="post">
{% csrf_token %}

{% for field in form %}
	{{field.errors}}
{% endfor %}

{{ form.non_field_errors }}

<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_first_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_prev_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
<button type="submit" name="save_comeback_later" value="True">{% trans "Quit" %}</button>
{% endif %}
<input type="submit" name="proceed" value="{% trans "submit" %}"/>
</form>
{% endblock %}